* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    outline: none;
}

.frame {
    padding-top: 18px;
}

.frame.index_page {
    overflow: hidden;
}

.frame.student_page {
    padding-bottom: 18px;
    padding-left: 18px;
    padding-right: 18px;
}

@media only screen and (min-width: 600px) {
  .frame.student_page {
    padding-left: 75px;
    padding-right: 75px;
  }
}

@media only screen and (min-width: 800px) {
  /* Add scrollbars to every page for consistent horizontal position. */
  body {
    overflow-y: scroll;
  }

  .frame.student_page {
    padding-left: 18px;
    padding-right: 18px;
    background-color: white !important;
  }

  .frame {
    margin: auto;
    width: 672px;
    box-shadow: 0px 1px 3.5px 0.1px #c7c7c7;
    margin-bottom: 25px;
    border-radius: 0px 0px 23px 23px;
  }

  .frame.student_page {
    width: 636px;
  }

  img.student_page.portrait {
    border-radius: 0px !important;
    box-shadow: 0px 0px 0px !important;
    border: 1px solid #E5E5E5;
  }
}

.bubblebutton {
    position: relative;
    min-width: 46px;
    height: 46px;
    text-align: center;
    border-radius: 1000px;
    box-shadow: 0px 1px 3.5px 0.1px #c7c7c7;
    display: inline-block;
    cursor: pointer;
    background-color: white;
    flex-grow: 1;
}

.bubblebutton.share {
    margin-left: 18px;
}

.bubblebutton.back {
    margin-right: 18px;
}

.bubblebutton:hover, .search_bar:hover, .search_result.search_page:hover {
    box-shadow: 0px 1px 5px 0.4px #c7c7c7;
    z-index: 500;
}

.bubblebutton:active, .search_bar:active {
    box-shadow: 0px 1px 3.5px 0.1px #c7c7c7;
}

.fr {
    float: right;
}

img.student_page.portrait {
    width: 202px;
    /*height: 270px;*/
    position: absolute;
    top: 100px;
    left: 50%;
    overflow: hidden;
    transform: translateX(-50%);
    border-radius: 23px;
    box-shadow: 0px 1px 3.5px 0.1px #C7C7C7;
}

div.search_page.portrait {
    width: 30px;
    height: 30px;
    margin-top: -4px;
    border-radius: 100px;
    overflow: hidden;
    display: inline-block;
}

img.search_page.portrait {
    width: 30px;
    transform: translateY(-2px);
}

img.search_page.portrait_icon {
    height: 24px;
    transform: translateY(-4px);
}

.peacemaker {
    width: 100%;
    position: relative;
}

.peacemaker.search_page {
    height: 40px;
}

.peacemaker.student_page {
    display: flex;
}

h1.student_page {
    /*margin-top: calc(60vw);*/
    font-size: 18px;
    text-align: center;
}

h2.student_page {
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
}

h1.search_page {
    /*margin-top: calc(60vw);*/
    font-size: 18px;
    display: inline;
    color: black;
}

h2.search_page {
    margin-top: 8px;
    font-size: 16px;
    color: black;
}

h1.index_page {
    font-size: 18px;
    color: black;
    margin-top: 11px;
}

h2.index_page {
    margin-top: 26px;
    margin-bottom: 11px;
    font-size: 16px;
    color: black;
}

img.icon_small {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

img.icon {
    width: 26px;
    height: 26px;
    transform: translateX(-1.5px) translateY(9.5px);
}

img.icon.back {
    transform: translateX(0px) translateY(9.5px);
}

img.icon.search {
    transform: translateX(4px) translateY(11px);
}

span.alongside_icon_small, a.alongside_icon_small {
    margin-left: 12px;
    font-size: 14px;
    text-decoration: none;
}

.rule {
    height: 1px;
    background-color: #E5E5E5;
}

.rule_absolute {
    position: absolute;
    height: 1px;
    background-color: #E5E5E5;
    z-index: 1000;
    margin-left: 10px;
    width: calc(100% - 20px);
}

.inbar.student_page {
    margin-top: 20px;
}

.inbar_group.student_page {
    margin-top: 42px;
}

.spacer_one.student_page {
    height: 330px;
}

.search_bar {
    height: 46px;
    background-color: white;
    top: 25px;
    border-radius: 1000px;
    text-align: left;
    box-shadow: 0px 1px 3.5px 0.1px #C7C7C7;
    z-index: 100;
}

.student_page.search_bar {
    width: 100%;
    display: inline-block;
}

.index_page.search_bar {
    margin-bottom: 26px;
}

input.search.student_page {
    /* Give the serch bar some more space on the constricted student page. */
    width: calc(100% - 64px);
}

input.search {
    width: calc(100% - 70px);
    height: 44px;
    transform: translateY(2px);
    font-size: 16px;
    border: 0px;
    margin-left: 11px;
    margin-top: -41px;
}

.form {
    display: inline;
}

input[type=submit] {
    display: none
}

.icon.search {
    padding-left: 9px;
}

.search_result {
    padding: 18px;
    padding-right: 16px;
    position: relative;
    background-color: aqua;
}

.search_result.search_page {
    border-top: 1px solid #E5E5E5;
}

a.search_page {
    text-decoration: none !important;
}

.result_count {
    padding: 18px;
    color: #C7C7C7;
}

.share_menu {
    display: inline-block;
    border-radius: 24px;
    text-align: right;
    font-size: 16px;
    box-shadow: 0px 1px 3.5px 0.1px #C7C7C7;
    position: absolute;
    top: 0px;
    right: 0px;
    /*width: 104px;*/
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.1s, opacity 0.1s linear;
    cursor: pointer;
    overflow: hidden;
    z-index: 2000;
    -webkit-tap-highlight-color: transparent;
}

.share_menu_item:hover, .share_menu_item_constricted:hover {
    background-color: #eeeeee !important;
}

.share_menu_item {
    padding-left: 15px;
    padding-right: 12px;
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: white;
}

.share_menu_item_constricted.share {
    padding-left: 15px;
    padding-right: 12px;
    padding-top: 15px;
    padding-bottom: 8px;
    background-color: white;
}

.share_menu_item_constricted.copy {
    padding-left: 15px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 15px;
    background-color: white;
}

.share_menu span {
    margin-right: 9px;
}

img.share_icon {
    width: 20px;
    height: 20px;
    vertical-align: text-top;
}

.clip {
    display: none;
}

a {
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.rb {
    border-radius: 0px 0px 23px 23px;
}